#pandas

In [2]:
import pandas as pd
pd.__version__

'1.5.3'

In [3]:
# 1.series datastructure:
-by using list/tuple/dicyionary/numpy 1-d array to create a series datastructure 
-syntax:
    variable_name=pd.Series(list/tuple/dictionary)

SyntaxError: invalid syntax (3077438956.py, line 2)

In [5]:
#to create a series using a list?
sd1=pd.Series([10,'pyhton',45.6,100,200])
print(sd1)
print(type(sd1))

0        10
1    pyhton
2      45.6
3       100
4       200
dtype: object
<class 'pandas.core.series.Series'>

In [6]:
#To change the index names from a series..
sd1.index=['A','B','C','D','E']
print(sd1)

A        10
B    pyhton
C      45.6
D       100
E       200
dtype: object

In [7]:
#to createe a series with index names?
sd3=pd.series({'Name':'Aadyan','rno':205,'Branch':'AIML'})
print(sd3)

AttributeError: module 'pandas' has no attribute 'series'

In [9]:

sd3 = ('Aadyan', 205, 'AIML')
ind = ('Name', 'rno', 'Branch')

sd3 = pd.Series(sd3, ind)
print(sd3)

Name      Aadyan
rno          205
Branch      AIML
dtype: object

In [10]:
import numpy as np
data = ('Aadyan', 205, 'AIML')
ind = ('Name', 'rno', 'Branch')

sd3 =pd.Series(np.array(data), ind)
print(sd3)

Name      Aadyan
rno          205
Branch      AIML
dtype: object

In [11]:
sd4=pd.Series(np.array([10,20,3]))
print(sd4)

0    10
1    20
2     3
dtype: int32

In [12]:
print(sd1)
print(sd1['B'])

A        10
B    pyhton
C      45.6
D       100
E       200
dtype: object
pyhton

###update the series data:
-1.using index names
-2.using replace() method

In [13]:
sd1['E']='java programming'
print(sd1)

A                  10
B              pyhton
C                45.6
D                 100
E    java programming
dtype: object

In [15]:
# to update the multiple data using replace() method
sd1.replace(to_replace=['python',100],
value=[23.4,'apssdc'],
inplace=True)
print(sd1)

A                  10
B              pyhton
C                45.6
D              apssdc
E    java programming
dtype: object